/*#first-section{
	background-image: url("../img/tech/first.jpg");
	opacity: 10;
	border-radius: 5px;
	width: auto;
	color: white;
	height: 60vh;
}*/

<<<<<<< HEAD
/*.nav-link{
	font-weight: 600!important;
	font-family: 'Montserrat', sans-serif!important;
	font-size: 13px!important;
=======
.nav-link{
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	
>>>>>>> 287b535ec8bfd29638fceed9aeae0512f47852bc

	
}*/
.style-form{
	text-align: center;
}
.reg-in{
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF8F0;
	
	text-align: center;
}
.hoveradd:hover{
	color: #d23335;
}
.pointer{
	cursor: pointer;
}
.amount{
	font-weight: 500;
}
.nav-item .nav-link{
	font-weight: 400!important;
	font-family: 'Montserrat', sans-serif;
}

.nav-item .active{
	color: #fff!important;
}
.navbar-toggler{
	padding-right: 20px;
	outline: none !important;
	border: none !important;
}
body{
	font-family: Verdana;
	font-size: 1rem;
	font-weight: 400;
	background-color: rgba(0,0,0,.05);
}

#text{
	padding-top: 50px;
}
#img-shipping{
	width: 400px;
	height: auto;
}
.padded{
	padding: 25px;
}
.padded-more{
	padding: 35px;
	margin-top: 10px;
}
.menu-bar, .another{
	background: linear-gradient(-90deg, #d38312, #a83279),
	url("../img/tech/first.jpg") center no-repeat;
	font-family: 'Montserrat', sans-serif;

	/*background: linear-gradient(rgba(16,29,44,.95),rgba(16,29,44,.95)),
	url("../img/tech/first.jpg") center no-repeat;*/
}
.page{
	padding: 20px;
}
.card-hover:hover {
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.shadowed {
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.light-shadowed{
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.1);
}
.margined{
	margin-bottom: 20px;
}
#background-yellowed{
	background-color: #ffebcd !important;
}
#padded-top{
	padding-top: 25px;
}
#margined-top-bottom{
	margin-bottom: 20px;
	margin-top: 30px;
}
.page-footer{
	padding-top: 30px;
	text-align: left;
}
.dark{
	background-color: #2b2f31;
	color: #fff;
}
.footer-copyright{
	padding-top: 20px;
	background-color: #222425;
	/*width: 100%;
	height: 10vh;*/
	border-color: #222425;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	margin-top: 50px;
	border: 1px solid #222425;
}
.page-footer h5{
	font-size: 18px;
	font-weight: 700;
	margin-top: 30px;
	
}
.page-footer  a{
	color: #d2d1d1;
	background-color: transparent;
	text-decoration: none;
}
.page-footer ul{
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}
.page-footer ul li{
	position: relative;
	padding-left: 10px;
}
.padd-row{
	padding-top: 60px;
}
.move-left{
	padding-left: 20%;
}
<<<<<<< HEAD


/*products*/
#products-container{
	margin-top: 0%;
	font-family: sans-serif;
	letter-spacing: 1px;
	width: 100%;
}
#products-container h2{
	background-color: #0062cc;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	height: 40px;
}
#products-container img{
	width: 100%; 
}
.product-bottom fa{
	color: #28a745 !important;
	font-size: 10px;
}
.product-bottom h3{
	font-size: 20px;
	font-weight: bold;
}
.product-bottom h5{
	font-size: 15px;
	padding-bottom: 10px;
}
.overlay{

	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
}
.top-product:hover .overlay{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}
.overlay .btn{
	cursor: pointer !important;
	background-color: #fff!important;
	color: #000!important;
	height: 35px!important;
	width: 35px!important;
	font-size: 20px!important;
	padding: 7px!important;
	margin: 5%!important;
}
.overlay .btn-secondary{
	background: transparent;
	border: none;
	box-shadow: none !important;
}
.product-top img{
	width: 100%;
	height:300px;
}
.side-bar-head{
	color: #0062cc;
}
section .nav-link{
	color: #0E0C17;
}
#sideNavigation .active{
	color: #EEB61E!important;
}
#sideNavigation a:hover{
	color: #EEB61E!important;
}
.padded-top{
	padding-top: 40px;
}
#fixed{
	position: fixed;
}
#side-nav-toggler{
	margin-top: 40px;
	position: fixed;
	z-index: 3;
	cursor: pointer;
}
.side-nav{
	margin-top: 110px;
	height: 50%; /* Full-height: remove this if you want "auto" height */
  	width: 160px; /* Set the width of the sidebar */
  	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  	z-index: 2; /* Stay on top */
  	top: 0; /* Stay at the top */
 	left: 0;
  	background-color: #111; /* Black */
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 20px;
}
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
